/* ----------------------------------

Nom du site: SUNTV
Auteur: Olga
Version: 1.0
Dernier changement: 07-2024 
Main Font : Kalnia Glaze
Main Color : #52ace4

-------------------------------------

[table de matière]
        
    

*/


/*
** General Styles for HTML tags
*/

/*Notre font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'chromium';
    src: url('../font/font/ChromiumOneLetPlain.woff2') format('woff2'),
         url('../font/font/ChromiumOneLetPlain.woff') format('woff'),
         url('../font/font/ChromiumOneLetPlain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*css default*/
.default-padding {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.heighty{
    height: 100vh;
}
.bg-cover {
    background-position: center center;
    background-size: cover;
}
.text-white{
    color: white !important;
}

/*Backgrounds*/
.bg-lighty{
    background-color: #52ace4 !important;
}
.bg-black{
    background-color: black !important;
}

  
/*Header et menu popup*/
.navbar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    padding: 5px 0;
    z-index: 1000;
}

header .menu-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #52ace4;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    border-radius: 10%;
}

header .menu-popup a{
    color: #ccc;
}
header .menu-popup a:hover{
    background-color: #ccc;
    color: #52ace4;
}
header .menu-popup a:hover{
    background-color: #ccc;
    color: #52ace4;
    padding: 0 20px 0 0;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2352ace4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' d='M4 6h16M4 12h16m-7 6h7'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px; 
}

header .menu-popup ul {
    list-style: none;
    padding: 0;
}

header .menu-popup li {
    margin: 10px 0;
}

header .menu-popup .submenu {
    padding-left: 20px;
}

header .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

header .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
}


/*Section accueil*/

/*Grand titre*/

h1 {
    text-transform: uppercase;
}
.roboto-condensed-titre {
    font-family: 'Roboto Condensed', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
@media (min-width: 1200px) {
    .roboto-condensed-titre {
        font-size: 90px; 
    }
}
@media (max-width: 1199.98px) and (min-width: 992px) {
    .roboto-condensed-titre {
        font-size: 80px; 
    }
}
@media (max-width: 991.98px) and (min-width: 768px) {
    .roboto-condensed-titre {
        font-size: 70px; 
    }
}
@media (max-width: 767.98px) and (min-width: 576px) {
    .roboto-condensed-titre {
        font-size: 60px; 
    }
}
@media (max-width: 575.98px) {
    .roboto-condensed-titre {
        font-size: 50px; 
    }
}

/*fond video*/
.video-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); 
}
.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
    color: #fff;
}

/*boutton accueil (à voir si on peut changer leur place dans css par défaut)!!!!!!!!!!!!*/
.loko1{
    background-color: #52ace4;
    color: white;
    border: solid #52ace4;
}
.loko1:hover{
    background-color: transparent;
    border: solid #52ace4;
}
.loko2{
    background-color: transparent;
    color: #52ace4;
    border: solid #52ace4;
}
.loko2:hover{
    background-color: #52ace4;
    border: solid #52ace4;
}



/* sections videos*/

/*animation du titre*/
.titre{
    font-family: 'chromium';
    color: #08F1DC;
    font-size: 36px;
}

.titre-anime {
    position: absolute;
    white-space: nowrap;
    font-size: 2rem;
    animation: marquee 10s linear infinite;
    top:0;
}

@keyframes marquee {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*nos videos*/
.videos {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../medias/photos/fond3.jpg);
}

.videos-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.video-container {
    position: absolute;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid #52ace4;
    border-radius: 15px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.6) hue-rotate(200deg);
    transition: transform 0.3s ease;
}

.video:hover {
    transform: scale(1.2);
    filter: none;
}

.video-text {
    position: absolute;
    font-size: 2rem;
    color: white;
    display: none;
    text-align: center;
}

.video-container:hover .video-text {
    display: block;
}

.video-text a {
    color: white;
    text-decoration: none;
    background-color: rgba(82, 172, 228, 0.5); 
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.video-container a:hover {
    text-decoration: underline; 
}

.top-left {
    top: 40%;
    left: 0;
    transform: translate(-50%, -50%);
}

.top-right {
    top: 40%;
    right: 0;
    transform: translate(50%, -50%);
}

.bottom-left {
    bottom: 15%;
    left: 0;
    transform: translate(-50%, 50%);
}

.bottom-right {
    bottom: 15%;
    right: 0;
    transform: translate(50%, 50%);
}

/*animation d'image centre en rotation*/
.rotating-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    animation: rotate 20s linear infinite;
    z-index: 1; 
}

.center-image {
    width: 100%;
    height: 100%;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Ecran téléphone*/
/* pour la section vidéos */
@media (max-width: 768px) {

/*faire disparaitre mon image en rotation*/
.rotating-image{
display: none;
}
.top-left,.top-right,.bottom-left,.bottom-right {
    all: unset;
    display: initial; /* rétablir l'affichage par défaut */
  }
.video{
    width: 95%;
    height: auto;
    margin: 10px;
}
.videos-container{
    height: auto;  
    padding: 40px 0 10px 0;  
}
.videos {
    background-image: none;
    background-color: #52ace4;
    height: auto;
}
.videos h1{
    color: black;
}
.video-container:hover{
    filter: none;
}
.video:hover{
    filter: none;
    transform: none;
    border: solid black 3px;
    border-radius: 10px;
}
.video-container {
    position: relative;
    display: inline-block;
}
.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

/*Nos videos de chaque catégorie*/
.video-content {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.video-content video {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: opacity(0.6) hue-rotate(200deg);
    transition: transform 0.3s ease;
}
.video-content video:hover {
    transform: scale(1.2);
    filter: none;
}

.date {
    position: absolute;
    bottom: 0;
    right: 10px;
    background: #52ace4;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
}

/*Notre message d'erreur s'il n'y a pas de vidéos*/
.no-results-message{
    color: red;
}

/*section A propos*/
#about {
    padding: 20px;
    background-color: #f8f9fa;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.compartments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.compartment {
    flex: 1 1 calc(25% - 20px);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.compartment:hover {
    transform: scale(1.05);
}

.compartment i {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 10px;
}

.compartment h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
}

.compartment p, .compartment ul {
    text-align: left;
    color: #555;
}

.compartment ul {
    list-style: none;
    padding: 0;
}

.compartment ul li {
    margin-bottom: 10px;
}

.compartment ul li strong {
    color: #333;
}


/*section contact*/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #52ace4 0%, #52ace4 100%);
    color: #fff;
    padding: 50px 20px;
}

.contact-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.contact-container h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.contact-container p {
    margin-bottom: 30px;
    font-size: 1.2em;
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.contact-form .submit-btn {
    background: #52ace4;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form .submit-btn:hover {
    background: white;
    color: #52ace4;
}

@media (max-width: 600px) {
    .contact-container {
        padding: 20px;
    }

    .contact-container h1 {
        font-size: 2em;
    }

    .contact-container p {
        font-size: 1em;
    }
}




/*Footer*/
footer {
    text-align: center; 
    padding: 20px; 
    background-color: #333;
    color: #797070; 
    left: 0;
    right: 0;
    bottom: 0;
}